<section class="thirteen columns">
    <h1>Education</h1>
    <article>
	  <header>
            <h1>Ph.D. of Statistics</h1>
            <span>North Carolina State University</span>
            <span><address>Raleigh, USA</address><time>2011 to 2016</time></span>
        </header>
        <p>
	  	 <em>Thesis: Statistical methods for neuroimaging data analysis.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>M.S. of Statistics</h1>
            <span>North Carolina State University</span>
            <span><address>Raleigh, USA</address><time>2011 to 2014</time></span>
        </header>
        <p>
        </p>
    </article>
    <article>
        <header>
            <h1>B.S. of Mathematics</h1>
            <span>Nanjing University</span>
            <span><address>Nanjing, China</address><time>2007 to 2011</time></span>
        </header>
        <p>
        </p>
    </article>
</section>
