<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Statitical Analyst Intern</h1>
            <span><address>Community Care of North Carolina, Raleigh, USA</address><time>2015 to Present</time></span>
        </header>
        <p>Develop a system that utilizes a series of patient-centered predictive models to help medication management staff identify and triage patients in need.</p>
    </article>
    <article>
        <header>
            <h1>Business Intelligence Engineer/ Data Scientist Intern</h1>
            <span><address>Amazon, Seattle, USA</address><time>2015</time></span>
        </header>
        <p>Developed a machine learning model for prioritizing potential customers via Python, AWS and SQL.p>
    </article>
    <article>
        <header>
            <h1>Instructor</h1>
            <span><address>North Carolina State University, Raleigh, USA</address><time>2011 to 2014</time></span>
        </header>
        <p>Led weekly lectures of 100 non-statistics undergraduate students each semester.</p>
    </article>
    <article>
        <header>
            <h1>Data Scientist Intern</h1>
            <span><address>Blizzard Entertainment, Irvine, USA</address><time>2014</time></span>
        </header>
        <p>Implemented machine learning/data visualization techniques to provide useful business insights.</p>
    </article>
</section>
