<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Data Scientist</h1>
            <span><address>Apple, Cupertino, USA</address><time>Aug 2016 to Present</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Statitical Analyst Intern</h1>
            <span><address>Community Care of North Carolina, Raleigh, USA</address><time>January 2015 to May 2015, August 2015 to May 2016</time></span>
        </header>
        <p>Developed patient utilization predictive models to help identify and triage patients in need.</p>
    </article>
    <article>
        <header>
            <h1>Business Intelligence Engineer/ Data Scientist Intern</h1>
            <span><address>Amazon, Seattle, USA</address><time>May 2015 to August 2015</time></span>
        </header>
        <p>Developed a machine learning model for prioritizing potential customers via Python, AWS and SQL.</p>
    </article>
    <article>
        <header>
            <h1>Data Scientist Intern</h1>
            <span><address>Blizzard Entertainment, Irvine, USA</address><time>May 2014 to August 2014</time></span>
        </header>
        <p>Implemented machine learning/data visualization techniques to provide useful business insights.</p>
    </article>
    <article>
        <header>
            <h1>Instructor</h1>
            <span><address>North Carolina State University, Raleigh, USA</address><time>August 2013 to December 2014</time></span>
        </header>
        <p>Led weekly lectures of 100 non-statistics undergraduate students each semester.</p>
    </article>
</section>
